*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #aeb0b2;

}
.hero{
    height: 100%;
    width: 100%;
    align-items: center;
   background-position: center;
   background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: -30px;
    border-bottom: 3px solid rgb(0, 0, 0); 
}
nav::after {
    content: '';
    display: block;
    width: 50%; 
    height: 2px; 
    background: white; 
    position: absolute;
    left: 50%; 
    bottom: 0;   
    transform: translateX(-50%); 
}
.logo{
    color:white;
    letter-spacing: 1px;
    font-size: 35px;
    cursor: pointer;
    font-style: italic;
    font-display:initial;
    text-decoration: wavy;
}
span{
    color: rgb(0, 0, 0);
    text-decoration: solid;
   }
   nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
   }
nav ul li a {
    text-decoration: none;
    color:  rgb(208, 208, 224);
   font-weight: bold;
   text-transform: capitalize;
}
nav ul li a:hover{
    color: rgb(92, 94, 101);
    transition: .4s;
 }
  nav ul li a:hover {
        border-bottom: 2px solid white;
        border-top: 2px solid white ;
}
.container{
    align-items: center;
}
.btn{
    background-color: rgb(16, 17, 18);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
    cursor: grabbing;
}
.btn:hover{
    transform: scale(1.2);
}
.container{
    position: absolute;
    top: 40%;
    left: 35%;
}
.results{
    position:absolute;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-display:inherit;
    font-size: 85px;
    text-align: center;
    text-decoration: wavy;
    color: rgb(255, 255, 255);
    font-style:italic;
    padding-bottom: 35px;
}
.search-bar{
    width: 400px;
  height: 50px;
  background-color: #706f6f;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.search-bar input {
    border:rgb(219, 219, 219);;
    background-color: transparent;
    outline: none;
    flex-grow: 1;
    font-size: 16px;
    color: white;
}
input::placeholder {
    color: #ccc;
    font-style: italic;
}
.search-bar button{
    background-color: rgb(16, 17, 18);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.search-bar button:hover{
    transform: scale(1.2);
}
div.id{

}
footer{
    align-items: center;
    text-align: center;
    color: #ffffff;
}
i{
    size: 60px;
}
